# Resolución Clase 9. Pandas. Parte 4.   

  

Esta notebook tiene dos objetivos:

1. El principal es familiarizarse con los DataFrames de Pandas, manipular sus funciones básicas y entender la lógica de las mismas (para después googlearlas!).
2. Empezar a trabajar con Datasets (más) reales. 

https://www.datos.gob.ar/dataset  

https://data.buenosaires.gob.ar/  

https://www.kaggle.com/datasets



### ¡Manos a la obra!
Primero, importamos las librerías necesarias y los comandos que son necesarios ejecutar una única vez.

<img  src="logoeica.jpeg" high=50px width=70px align="left" >

In [ ]:
import pandas as pd

Como primer paso, vamos a crear nuestro propio dataset. Es decir, agarrar a mano los datos poblacionales de http://www.ign.gob.ar/nuestrasactividades/geografia/datosargentina/divisionpolitica y guardarlos en una variable "data_dic".¿Qué tipo de variable es?

**Nota**: la población está en número de habitantes y la superficie en km2.

In [ ]:
data_dic = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe","San Luis"],"Poblacion":[2890151,15625084,367828,1055259,99633,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537,432310],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007,76748]}

In [ ]:
# Creamos el DataFrame
data_pandas = pd.DataFrame(data_dic)
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007
12      San Luis     432310       76748

**Ejercicio 1:** Haciéndonos amigos de los DF.  
* ¿Qué tipo de variable es "data_dic"?
* Investigar las funciones que se implementan en la próxima celda. ¿Qué hacen? ¿Para qué piensan que pueden ser útiles?

In [ ]:
# data_pandas.head()
# data_pandas.tail()
# data_pandas.count()
# data_pandas.shape
#data_pandas.describe()
# data_pandas.info()
# data_pandas.Jurisdiccion.value_counts()
# data_pandas.Jurisdiccion.unique()

array(['CABA', 'Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba',
       'Jujuy', 'Mendoza', 'Misiones', 'Río Negro', 'Santa Cruz',
       'Santa Fe', 'San Luis'], dtype=object)

**Ejercicio 2:** Agregar al Dataset la información correspondiente a alguna jurisdicción faltante. Recuerden que, al tratarse de una nueva instancia, corresponde a una fila. Pista: googlear "add row to pandas dataframe" o similar.

In [ ]:
#data_pandas.loc[13] = ['Salta',1214441,155488]
data_pandas.loc[3, 'Jurisdiccion']
#data_pandas.iloc[3, [0]]
#data_pandas.iloc[10:14, 0:3]

'Chaco'

**Ejercicio 3:** Investigar las funciones columns e index. ¿Qué hacen? ¿Qué tipo de variable es su salida?

In [ ]:
# data_pandas.columns
#data_pandas.index
# data_pandas.Jurisdiccion.unique()
#data_pandas.Jurisdiccion.value_counts()

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

**Ejercicio 4:** ¿Qué hacen las siguientes operaciones?

In [ ]:
# data_pandas['Jurisdiccion']
# data_pandas[['Jurisdiccion','Poblacion']]
# data_pandas.Jurisdiccion
'Poblacion' in data_pandas

True

**Ejercicio 5:** Filtrado por máscara. 
1. Seleccionar aquellas jurisdicciones cuya población sea mayor a un millón de habitantes.
2. Seleccionar aquellas jurisdicciones cuya población sea mayor a un millón de habitantes y su superficie menor a cien mil km2.

In [ ]:
#print(data_pandas.shape)
#data_pandas2 = data_pandas[data_pandas.Poblacion > 1000000]
#print(data_pandas2.shape)
data_pandas[(data_pandas.Poblacion > 1000000) & (data_pandas.Superficie < 100000)]
#print(data_pandas2['Jurisdiccion'])

  Jurisdiccion  Poblacion  Superficie
0         CABA    2890151         200
3        Chaco    1055259       99633
8     Misiones    1101593       29801

In [ ]:
data_pandas2

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
3          Chaco    1055259       99633
5        Córdoba    3308876      165321
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
11      Santa Fe    3194537      133007
12         Salta    1214441      155488

**Ejercicio 6:** Agregar una columna al dataframe que corresponda a la densidad de cada jurisdicción. Usar la información que ya está en el dataset.

In [ ]:
data_pandas['Densidad'] = data_pandas['Poblacion'] / data_pandas['Superficie']
data_pandas

    Jurisdiccion  Poblacion  Superficie      Densidad
0           CABA    2890151         200  14450.755000
1   Buenos Aires   15625084      307521     50.809811
2      Catamarca     367828      102606      3.584859
3          Chaco    1055259       99633     10.591461
4         Chubut      99633      509108      0.195701
5        Córdoba    3308876      165321     20.014856
6          Jujuy     673307       53219     12.651628
7        Mendoza    1738929      148827     11.684231
8       Misiones    1101593       29801     36.964968
9      Río Negro     638645      203013      3.145833
10    Santa Cruz     273964      243943      1.123066
11      Santa Fe    3194537      133007     24.017811
12      San Luis     432310       76748      5.632850
13         Salta    1214441      155488      7.810513

## Iris dataset

Vamos a trabajar con el Iris Dataset, probablemente uno de los más famosos datasets. Es un dataset sencillo pero muy ilustrativo. Pueden encontrar un poco más de información en este [link](https://es.wikipedia.org/wiki/Conjunto_de_datos_flor_iris).


1. Abrir con Pandas el archivo 'DataSets/iris_dataset.csv' e imprimir sus primeros cinco elementos. Pista: pd.read...

In [1]:
import seaborn as sns

In [2]:
data = sns.load_dataset("iris")
data.head(20)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

In [ ]:
data = pd.read_csv('iris_dataset.csv', index_col='fila')
data.head(20)

        sepal_length  sepal_width  petal_length  petal_width species
fila
fila1            5.1          3.5           1.4          0.2  setosa
fila2            4.9          3.0           1.4          0.2  setosa
fila3            4.7          3.2           1.3          0.2  setosa
fila4            4.6          3.1           1.5          0.2  setosa
fila5            5.0          3.6           1.4          0.2  setosa
fila6            5.4          3.9           1.7          0.4  setosa
fila7            4.6          3.4           1.4          0.3  setosa
fila8            5.0          3.4           1.5          0.2  setosa
fila9            4.4          2.9           1.4          0.2  setosa
fila10           4.9          3.1           1.5          0.1  setosa
fila11           5.4          3.7           1.5          0.2  setosa
fila12           4.8          3.4           1.6          0.2  setosa
fila13           4.8          3.0           1.4          0.1  setosa
fila14           4.3          3.0           1.1          0.1  setosa
fila15           5.8          4.0           1.2          0.2  setosa
fila16           5.7          4.4           1.5          0.4  setosa
fila17           5.4          3.9           1.3          0.4  setosa
fila18           5.1          3.5           1.4          0.3  setosa
fila19           5.7          3.8           1.7          0.3  setosa
fila20           5.1          3.8           1.5          0.3  setosa

2. ¿Cuántas columnas (features) tiene?¿Cuáles son sus nombres?¿Y cuántas filas (instancias)?

In [9]:
print(f"(Filas, Columnas): {data.shape} Nombre de las columnas {list(data.columns)}")

(Filas, Columnas): (150, 5) Nombre de las columnas ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, fila1 to fila150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

3. Obtener el valor medio y desviación estándar de cada columna. ¿Hay alguna función de Pandas que nos dé aún más estadísticos?

In [23]:
data[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].agg(["mean","std"])

      sepal_length  sepal_width  petal_length  petal_width
mean      5.843333     3.057333      3.758000     1.199333
std       0.828066     0.435866      1.765298     0.762238

In [10]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
data.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [ ]:
data.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

4. ¿Creen que todas las columnas tienen información? *Tirar* la columna que crean que está demás.

In [25]:
import pandas as pd

In [26]:
df3 = pd.DataFrame ({'A': ['A1','A2','A3','A4'],
                    'B': ['B1',None,'B3','B4'],
                    'C': ['C1','C2','C3',None],
                    'D': [1,3,None,3]},
                   index=['f1','f2','f3','f4'])
df3

     A     B     C    D
f1  A1    B1    C1  1.0
f2  A2  None    C2  3.0
f3  A3    B3    C3  NaN
f4  A4    B4  None  3.0

In [27]:
df3.drop(columns="D",inplace=True)
df3.head()

     A     B     C
f1  A1    B1    C1
f2  A2  None    C2
f3  A3    B3    C3
f4  A4    B4  None

In [30]:
df4 = pd.DataFrame ({'A': ['A1','A2','A3','A4'],
                    'B': ['B1',None,'B3','B4'],
                    'E': ['C1','C2','C3',None],
                    'F': [1,3,None,3]},
                   index=['f1','f4','f6','f7'])
df4

     A     B     E    F
f1  A1    B1    C1  1.0
f4  A2  None    C2  3.0
f6  A3    B3    C3  NaN
f7  A4    B4  None  3.0

In [35]:
df3

     A     B     C
f1  A1    B1    C1
f2  A2  None    C2
f3  A3    B3    C3
f4  A4    B4  None

In [ ]:
df4

     A     B     E    F
f1  A1    B1    C1  1.0
f4  A2  None    C2  3.0
f6  A3    B3    C3  NaN
f7  A4    B4  None  3.0

In [41]:
df3.merge(df4,how="inner",on=['A','B'])

    A     B     C     E    F
0  A1    B1    C1    C1  1.0
1  A2  None    C2    C2  3.0
2  A3    B3    C3    C3  NaN
3  A4    B4  None  None  3.0

In [42]:
df3.dropna(subset=['B'], inplace=True)
df3.head()

     A   B     C
f1  A1  B1    C1
f3  A3  B3    C3
f4  A4  B4  None

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

In [ ]:
def applywise_duration(df):
    start_time = datetime.now()
    df['C'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
    end_time = datetime.now()
    duration = end_time - start_time
    return(duration)

def columnwise_duration(df):
    start_time = datetime.now()
    df['C'] = df['A'] + df['B']
    end_time = datetime.now()
    duration = end_time - start_time
    return(duration)

In [ ]:
df_apply1 = pd.DataFrame(
        np.random.randint(0,10000,size=(1000000, 2)),
        columns=list('AB')
)
df_vector = df_apply1.copy()

In [ ]:
applywise_duration = applywise_duration(df_apply1)
columnwise_duration = columnwise_duration(df_vector)

print('Duracion de apply: ', applywise_duration)
print('Duracion de columnwise addition: ', columnwise_duration)
print('Ratio: ', columnwise_duration / applywise_duration)
print('Eso significa que, en este caso, columnwise addition es %s veces más rápida que la adición mediante apply!'
        % str(applywise_duration / columnwise_duration)
      )

Duracion de apply:  0:00:07.607678
Duracion de columnwise addition:  0:00:00.006347
Ratio:  0.0008342887277826427
Eso significa que, en este caso, columnwise addition es 1198.6258074680952 veces más rápida que la adición mediante apply!